html{
	box-sizing: border-box;
}
*,*:before, *:after{
	box-sizing:inherit;
}

body{
font-family:'source sans pro', sans-serif;
line-height:1.5;
background:#F2F2F2;
color:#323232;
}
/*--------header------*/




img{
	max-width: 100%;
}

.icon{
fill: currentcolor;
display:inline-block;
font-size:inherit;
height:1.5em;
overflow:visible;
}

a{
	color: #323232;
	text-decoration:none;

}
a:hover{
	text-decoration: underline;
}
.container{
	max-width:960px;
	margin: 40px auto;
	padding: 32px;
	background:white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
section{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 30px;
	/* padding: 24px 0; */
	border-bottom:1px solid lightgray;
	margin:0;
}
section:last-child{
	border-bottom: none;
}
.section-title{
	font-weight: bold;
	font-style: italic;
    font-size: 18px;
    color: #cf8a05;

}
/* main info*/
 img.profile-image{
	 width:130px;
	border-radius: 50%;
 }

.name-salutation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.my-name{
	font-size:48px;
	line-height:1;
}


.link{
	display:flex;
	flex-wrap: wrap;
}

.link-item{
	display:flex;
	align-items:center;
	flex:1;
	margin:6px 0;
}
.link-item svg{
	margin-right:6px;
}
/*education */
.education{
	/* padding-bottom:24px; */
	margin-bottom:10px;
	border-bottom: 1px solid lightgray;
	display:grid;
line-height:1.6;
}

.education p{
		margin-top: 0;
		margin-bottom: 10px;
		color: #444;
}

.education:last-child{
	border-bottom: none;
}

.education-title-container{
	display:flex;
	justify-content: space-between;
	/* margin-bottom: 20px; */
	font-size:16px;
}

.education-title {
	font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

.college-name{
	font-weight: bold;
	line-height: 1.2;

}
.skills-container{
	display:grid;
	grid-gap:20px;
}
.interests-container{
	display:flex;
	justify-content:space-between;
}
.interests-container img{
	height:45px;
	opacity:0.75px;
}

.profile-image {
	border-radius: 50%;
}

.welcome-text {
	color: green;
	font-size: 16px;
	padding-left: 10px;
}

.duration {
	font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

.objective {
	margin: 0 0 10px 0;
}

.margin-0 {
	margin: 0;
}

.padding-top-10 {
	padding-top: 10px;
}

@media only screen and (max-width :768px){
	section{
		grid-template-colums: 1fr;
	}
	.links, .education-title-container{
		flex-direction:column;
	}
	.interests-container {
		flex-wrap: wrap;
		justify-content:flex-start;
	}
	.interests-container img{
		margin-right:32px;
		margin-bottom:16px;
	}

	.my-name {
		font-size: 22px;
	}
/*
	img.profile-image {
		width: 100%;
	} */

	.width-100 {
		width: 100%;
		text-align: center
	}

	section {
		display: block;
	}

	.name-salutation {
		justify-content: center;
		padding: 6px 0;
	}

	.link, .link-item {
		justify-content: center;
	}
}
